extends ./layout

block style
  link(rel="stylesheet" href="search.css")

block content
  div(ng-controller="SearchBookController as bookSearch" class="mdl-cell mdl-cell--12-col mdl-grid")
    div(class="mdl-cell mdl-cell--12-col mdl-color--white mdl-shadow--2dp" style={padding: '0 10px'})
      h1 Search By ISBN
      form
        div(class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label")
          input(class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="isbn" ng-model="bookSearch.isbn")
          label(class="mdl-textfield__label" for="isbn") search by ISBN
          span(class="mdl-textfield__error") Input is not an isbn!
        button(ng-click="bookSearch.search()" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored")
          i(class="material-icons") search
        span {{bookSearch.state}}
    div(class="searchResult mdl-cell mdl-cell--12-col mdl-color--white mdl-shadow--2dp" style={padding: '0 10px'})
      h2 Search Result
      div(class="mdl-grid")
        div(class="mdl-grid mdl-cell--12-col")
          | Book Cover
        div(class="mdl-cell mdl-cell--12-col resultOptionWrapper")
          div(ng-if="bookSearch.result.searchData.ImageUrl.constructor.toString().indexOf('Array') >= 0" class="mdl-grid")
            span(ng-repeat="data in bookSearch.result.searchData.ImageUrl" class="resultOptions mdl-cell mdl-cell--2-col"): a(href="#" ng-click="bookSearch.setOption('ImageUrl', data)"): img(ng-src="{{data}}" alt="Book Cover" ng-class="[{selected: bookSearch.ImageUrl == data}]" class="bookCover")
          div(ng-if="bookSearch.result.searchData.ImageUrl.constructor.toString().indexOf('Array') < 0" class="mdl-grid")
            span(class="resultOptions mdl-cell mdl-cell--2-col"): a(href="#" ng-click="bookSearch.setOption('ImageUrl', bookSearch.result.searchData.ImageUrl)"): img(ng-src="{{bookSearch.result.searchData.ImageUrl}}" alt="Book Cover" ng-class="[{selected: bookSearch.ImageUrl == bookSearch.result.searchData.ImageUrl}]" class="bookCover")
      div(class="mdl-grid")
        div(class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col")
          input(class="mdl-textfield__input" type="text" id="title" ng-model="bookSearch.Title")
          label(class="mdl-textfield__label" for="title") Title
        div(class="mdl-cell mdl-cell--12-col resultOptionWrapper")
          div(ng-if="bookSearch.result.searchData.Title.constructor.toString().indexOf('Array') >= 0")
            span(ng-repeat="data in bookSearch.result.searchData.Title" class="resultOptions"): a(href="#" ng-click="bookSearch.setOption('Title', data)") {{data}}
          div(ng-if="bookSearch.result.searchData.Title.constructor.toString().indexOf('Array') < 0")
            span(class="resultOptions"): a(href="#" ng-click="bookSearch.setOption('Title', bookSearch.result.searchData.Title)") {{bookSearch.result.searchData.Title}}
      div(class="mdl-grid")
        div(class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col")
          input(class="mdl-textfield__input" type="text" id="subtitle" ng-model="bookSearch.SubTitle")
          label(class="mdl-textfield__label" for="subtitle") SubTitle
        div(class="mdl-cell mdl-cell--12-col resultOptionWrapper")
          div(ng-if="bookSearch.result.searchData.SubTitle.constructor.toString().indexOf('Array') >= 0")
            span(ng-repeat="data in bookSearch.result.searchData.SubTitle" class="resultOptions"): a(href="#" ng-click="bookSearch.setOption('SubTitle', data)") {{data}}
          div(ng-if="bookSearch.result.searchData.SubTitle.constructor.toString().indexOf('Array') < 0")
            span(class="resultOptions"): a(href="#" ng-click="bookSearch.setOption('SubTitle', bookSearch.result.searchData.SubTitle)") {{bookSearch.result.searchData.SubTitle}}
      div(class="mdl-grid")
        div(class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col")
          input(class="mdl-textfield__input" type="text" id="author" ng-model="bookSearch.Author")
          label(class="mdl-textfield__label" for="author") Author
        div(class="mdl-cell mdl-cell--12-col resultOptionWrapper")
          div(ng-if="bookSearch.result.searchData.Author.constructor.toString().indexOf('Array') >= 0")
            span(ng-repeat="data in bookSearch.result.searchData.Author" class="resultOptions"): a(href="#" ng-click="bookSearch.setOption('Author', data)") {{data}}
          div(ng-if="bookSearch.result.searchData.Author.constructor.toString().indexOf('Array') < 0")
            span(class="resultOptions"): a(href="#" ng-click="bookSearch.setOption('Author', bookSearch.result.searchData.Author)") {{bookSearch.result.searchData.Author}}
      div(class="mdl-grid")
        div(class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col")
          input(class="mdl-textfield__input" type="text" id="language" ng-model="bookSearch.Language")
          label(class="mdl-textfield__label" for="language") Language
        div(class="mdl-cell mdl-cell--12-col resultOptionWrapper")
          div(ng-if="bookSearch.result.searchData.Language.constructor.toString().indexOf('Array') >= 0")
            span(ng-repeat="data in bookSearch.result.searchData.Language" class="resultOptions"): a(href="#" ng-click="bookSearch.setOption('Language', data)") {{data}}
          div(ng-if="bookSearch.result.searchData.Language.constructor.toString().indexOf('Array') < 0")
            span(class="resultOptions"): a(href="#" ng-click="bookSearch.setOption('Language', bookSearch.result.searchData.Language)") {{bookSearch.result.searchData.Language}}
      div(class="mdl-grid")
        div(class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col")
          input(class="mdl-textfield__input" type="text" id="publisher" ng-model="bookSearch.Publisher")
          label(class="mdl-textfield__label" for="publisher") Publisher
        div(class="mdl-cell mdl-cell--12-col resultOptionWrapper")
          div(ng-if="bookSearch.result.searchData.Publisher.constructor.toString().indexOf('Array') >= 0")
            span(ng-repeat="data in bookSearch.result.searchData.Publisher" class="resultOptions"): a(href="#" ng-click="bookSearch.setOption('Publisher', data)") {{data}}
          div(ng-if="bookSearch.result.searchData.Publisher.constructor.toString().indexOf('Array') < 0")
            span(class="resultOptions"): a(href="#" ng-click="bookSearch.setOption('Publisher', bookSearch.result.searchData.Publisher)") {{bookSearch.result.searchData.Publisher}}
      div(class="mdl-grid")
        div(class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col")
          input(class="mdl-textfield__input" type="text" id="pages" ng-model="bookSearch.Pages")
          label(class="mdl-textfield__label" for="pages") Pages
        div(class="mdl-cell mdl-cell--12-col resultOptionWrapper")
          div(ng-if="bookSearch.result.searchData.Pages.constructor.toString().indexOf('Array') >= 0")
            span(ng-repeat="data in bookSearch.result.searchData.Pages" class="resultOptions"): a(href="#" ng-click="bookSearch.setOption('Pages', data)") {{data}}
          div(ng-if="bookSearch.result.searchData.Pages.constructor.toString().indexOf('Array') < 0")
            span(class="resultOptions"): a(href="#" ng-click="bookSearch.setOption('Pages', bookSearch.result.searchData.Pages)") {{bookSearch.result.searchData.Pages}}
      div(class="mdl-grid")
        div(class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col")
          input(class="mdl-textfield__input" type="text" id="publishDate" ng-model="bookSearch.PublishDate")
          label(class="mdl-textfield__label" for="publishDate") Publish Date
        div(class="mdl-cell mdl-cell--12-col resultOptionWrapper")
          div(ng-if="bookSearch.result.searchData.PublishDate.constructor.toString().indexOf('Array') >= 0")
            span(ng-repeat="data in bookSearch.result.searchData.PublishDate" class="resultOptions"): a(href="#" ng-click="bookSearch.setOption('PublishDate', data)") {{data | date:'yyyy-MM-dd'}}
          div(ng-if="bookSearch.result.searchData.PublishDate.constructor.toString().indexOf('Array') < 0")
            span(class="resultOptions"): a(href="#" ng-click="bookSearch.setOption('PublishDate', bookSearch.result.searchData.PublishDate)") {{bookSearch.result.searchData.PublishDate | date:'yyyy-MM-dd'}}
      div(class="mdl-grid")
        div(class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col")
          input(class="mdl-textfield__input" type="text" id="series" ng-model="bookSearch.Series")
          label(class="mdl-textfield__label" for="series") Series
        div(class="mdl-cell mdl-cell--12-col resultOptionWrapper")
          div(ng-if="bookSearch.result.searchData.Series.constructor.toString().indexOf('Array') >= 0")
            span(ng-repeat="data in bookSearch.result.searchData.Series" class="resultOptions"): a(href="#" ng-click="bookSearch.setOption('Series', data)") {{data}}
          div(ng-if="bookSearch.result.searchData.Series.constructor.toString().indexOf('Array') < 0")
            span(class="resultOptions"): a(href="#" ng-click="bookSearch.setOption('Series', bookSearch.result.searchData.Series)") {{bookSearch.result.searchData.Series}}
      div(class="mdl-grid")
        div(class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col")
          input(class="mdl-textfield__input" type="text" id="spec" ng-model="bookSearch.Spec")
          label(class="mdl-textfield__label" for="spec") Spec
        div(class="mdl-cell mdl-cell--12-col resultOptionWrapper")
          div(ng-if="bookSearch.result.searchData.Spec.constructor.toString().indexOf('Array') >= 0")
            span(ng-repeat="data in bookSearch.result.searchData.Spec" class="resultOptions"): a(href="#" ng-click="bookSearch.setOption('Spec', data)") {{data}}
          div(ng-if="bookSearch.result.searchData.Spec.constructor.toString().indexOf('Array') < 0")
            span(class="resultOptions"): a(href="#" ng-click="bookSearch.setOption('Spec', bookSearch.result.searchData.Spec)") {{bookSearch.result.searchData.Spec}}
      div(class="mdl-grid")
        button(class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" ng-click="bookSearch.save()") Save
append script
  script(src="/appjs/searchbook.js")
