.searchResult .resultOptionWrapper {
  margin-top: -20px;
}
.searchResult .resultOptionWrapper .resultOptions img {
  height: 100px;
}
.searchResult .bookCoverWrapper {

}
.bookCover {
  border: 2px white solid;
}
.selected {
  border: 2px navy solid;
}
.resultOptions {
  display: inline-block;
  margin-right: 10px;
}

.resultOptions a {
  display: block;
}
